
@{
    ViewData["Title"] = "Extra";
}

<h1>Extra</h1>

<p>Sessionvariabel:</p>
<p>Sessionvariabel-kommer från Index: @ViewBag.indextext</p>
<p>Sessionvariabel-kommer från Omoss: @ViewBag.omosstext</p>

