
@{
    ViewData["Title"] = "Form3";
}

<h1>Form3</h1>

<form action="/Home/Form4" method="get" name="form3text2">
    <br>
    Text:
    <br>
    <input id="form3text" type="text" name="form3text" value="">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>

    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other

    <br><br>
    Birthday:
    <input type="date" name="bday">


    <br /><br /><br />
    <input type="submit" value="Skicka in" class="btn-dark">
</form>

