
@{
    ViewData["Title"] = "Form2";
}

<h1>Form2</h1>


<form action="/Home/Form2" method="post">
    <input id="Textexempel" name="Textexempel" type="text" value="" />    
    <input type="submit" value="Skicka in" class="btn-primary" />

  </form>

<p>
    @ViewBag.form2

</p>