@model WebApplication3.Models.Client

@{
    ViewData["Title"] = "Client";
}

<h1>Client</h1>


@{
	IEnumerable<WebApplication3.Models.Client> clients = ( IEnumerable<WebApplication3.Models.Client> ) ViewData["clients-in-list"];
}


<table>

	<tr>
		<th>Id </th>
		<th>Name</th>
	</tr>

	@foreach (Client client in clients) 
	{
		<tr>
			<th>@client.Id</th>
			<th>@client.Name</th>
		</tr>
	}


</table>
